#trip-index {
  margin-top: 20px;
  h1 {
    color: black;
  }
  .notice {
    font-size: 18px;
  }
  .trips {
    .trip {
      padding-top: 20px;
      margin-bottom: 40px;
      border-top: 2px solid #f5f5f5;
      &:first-child {
        border: none;
        padding-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .name {
        a {
          color: black;
          font-size: 24px;
          font-family: 'Montserrat', sans-serif;
        }
      }
      .details {
        font-size: 18px;
        align-items: center;
        .delete-trip {
          border: none;
          cursor: pointer;
          background: none;
          display: inline-block;
        }
      }
    }
  }
  #add-to-trip {
    margin-top: 40px;
  }
}
