#trip-index {
  margin-top: 20px;
}

#trip-index h1 {
  color: black;
}

#trip-index .notice {
  font-size: 18px;
}

#trip-index .trips .trip {
  padding-top: 20px;
  margin-bottom: 40px;
  border-top: 2px solid #f5f5f5;
}

#trip-index .trips .trip:first-child {
  border: none;
  padding-top: 0;
}

#trip-index .trips .trip:last-child {
  margin-bottom: 0;
}

#trip-index .trips .trip .name a {
  color: black;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#trip-index .trips .trip .details {
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trip-index .trips .trip .details .delete-trip {
  border: none;
  cursor: pointer;
  background: none;
  display: inline-block;
}

#trip-index #add-to-trip {
  margin-top: 40px;
}

.trip-single nav.main {
  margin-bottom: 0;
}

.trip-single #single-trip-navbar {
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #e4e4e4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.trip-single .v-switch-core {
  background-color: grey !important;
}

.trip-single .vue-js-switch.toggled .v-switch-core {
  background-color: #17a2b8 !important;
}

.trip-single .entries .entry {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F6F6F6;
}

.trip-single .entries .entry .entry-title {
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0;
}

.trip-single .entries .entry .entry-content {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.trip-single .entries .entry .entry-content .read-more {
  font-weight: normal;
}

.trip-single .entries .entry .entry-content .read-more:hover {
  cursor: pointer;
}

.trip-single .entries .entry .entry-footer {
  width: 100%;
  color: silver;
  margin-top: 5px;
  display: inline-block;
  border-top: 1px solid #ececec;
}

.trip-single .entries .entry .entry-footer p {
  width: 100%;
  float: right;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}

.trip-single label {
  font-weight: 700;
}

.trip-single .content-location .location-name {
  margin-bottom: 10px;
}

.trip-single .location-dates .datepicker {
  margin-right: 10px;
}

.trip-single .location-dates input {
  padding: .375rem .75rem !important;
  border: 1px solid #ced4da;
}

.trip-single .details {
  font-weight: 600;
  margin-right: 15px;
}

.trip-single .navbar-brand {
  font-weight: 600;
}

.trip-single #map {
  height: 100%;
}

.trip-single #map .vue-map-container {
  height: 100%;
}

#trip-create #save {
  margin-top: 30px;
}

#trip-create #back-to-trips {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.circle-separator {
  width: 8px;
  height: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: inline-block;
}

.circle-separator.black {
  background-color: black;
}

.circle-separator.grey {
  background-color: silver;
}

.btn.button-primary {
  color: white;
  font-size: 18px;
  border-radius: 2px;
  border-color: #17a2b8;
  background-color: #17a2b8;
}

.btn.button-primary:hover {
  color: white;
  cursor: pointer;
  background-color: #148ea1;
}

.mx-datepicker-popup {
  color: black;
}

.mx-datepicker-popup .mx-calendar-table td.current {
  background-color: #17a2b8;
}

.mx-datepicker-popup .mx-calendar-table .today {
  color: #17a2b8;
}

nav.main .navbar-nav .nav-link:hover {
  color: #17a2b8;
}

body {
  background-color: #F6F6F6 !important;
}

.content-block {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #dcdcdc;
          box-shadow: 0 1px 5px #dcdcdc;
  padding: 5% 10% !important;
  border: 0 solid rgba(255, 255, 255, 0.25);
}

input,
.btn {
  border-radius: 2px !important;
}

nav {
  -webkit-box-shadow: 0 1px 5px #dcdcdc;
          box-shadow: 0 1px 5px #dcdcdc;
}

nav.margin-bottom {
  margin-bottom: 30px;
}

.errors {
  padding-left: 17px;
}

.heading {
  margin-bottom: 20px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 20px;
}

#logout {
  border: none;
  cursor: pointer;
  background: none;
  color: #17a2b8;
}

body,
#app {
  height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body label {
  font-family: 'Montserrat', sans-serif !important;
}

body a.instruction,
body span.instruction {
  color: #17a2b8 !important;
}

body .navbar {
  background-color: white !important;
  border-bottom: 1px solid #F6F6F6;
}

body .navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .navbar .content h3 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  border-right: 1px solid #F6F6F6;
}

body .location-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

body .location-add ::-webkit-input-placeholder {
  color: #e3e3e3;
}

body .location-add :-moz-placeholder {
  color: #e3e3e3;
}

body .location-add ::-moz-placeholder {
  color: #e3e3e3;
}

body .location-add :-ms-input-placeholder {
  color: #e3e3e3;
}

body .location-add input {
  border: none;
}

body .location-add .location {
  width: 400px;
}

body .location-add .datepicker {
  width: 110px;
}

body .location-add .add-to-trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .location-add .add-to-trip span {
  border: none;
  color: grey;
  font-weight: 700;
  cursor: pointer;
}

body .location-add .location,
body .location-add .datepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .location-add .location label,
body .location-add .datepicker label {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

body .location-add .mx-calendar-month > a.current,
body .location-add .mx-calendar-table td.current,
body .location-add .mx-calendar-year > a.current {
  background-color: #f5f5f5;
}

body .location-add .mx-datepicker {
  font-family: 'Montserrat', sans-serif !important;
  width: auto !important;
  margin-top: 3px;
  min-width: 1px !important;
}

body .location-add .mx-datepicker input {
  padding: 0;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto !important;
}

body .location-add .mx-datepicker .mx-input-icon {
  display: none;
}

body a {
  color: grey;
  cursor: pointer;
  font-weight: 700;
}

body a:hover {
  text-decoration: underline;
}

body .container-fluid {
  padding: 0;
}

body .container-fluid .no-padding-right {
  padding-right: 0;
}

body .container-fluid .no-padding-left {
  padding-left: 0;
}

body .sidebar .content {
  padding: 20px;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 100px;
  background-color: white;
}

body .sidebar .divider {
  background-color: #F6F6F6;
  padding-right: 0;
}

body .sidebar .off-canvas-content {
  padding: 5px;
}

body .content-location .location-name {
  margin-bottom: 0;
}

body .content-location .location-name a {
  font-size: 16px;
  font-family: 'Lato', sans-serif !important;
}

body .content-location .location-name .edit-location-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-location .location-name .edit-location-name input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  margin-right: 10px;
}

body .content-location .location-name .edit-location-name a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

body .content-location .date {
  color: grey;
}

body .notice {
  color: gray;
  font-weight: 700;
  font-size: 14px;
}

body .notice.instruction {
  color: #17a2b8 !important;
}

body .edit-trip-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .edit-trip-name input {
  margin-right: 10px;
}

body .add-entry {
  padding-right: 0;
}

body .add-entry .markers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .add-entry .markers .marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 10px;
}

body .add-entry .markers .marker .remove i {
  cursor: pointer;
  color: #e74c3c;
  margin-left: -5px;
}

body .add-entry .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .add-entry .header h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .add-entry .save-entry {
  text-align: right;
}

body .add-entry .vue-dropzone.form-control {
  border: 1px solid #ced4da;
  background: none;
  font-family: 'Montserrat', sans-serif !important;
}

body .add-entry .vue-dropzone.form-control.is-invalid {
  border-color: #dc3545;
}

body .locations .location {
  margin-bottom: 20px;
}

body .locations .location.location-draggable {
  cursor: move;
}

body .locations .location .col {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .locations .location .col .arrow {
  float: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .locations .location .col .arrow .arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
}

body .locations .location h5 {
  margin-bottom: 0;
}

body .locations .location h5:hover {
  cursor: pointer;
}

body .locations .location span {
  font-size: 14px;
  color: grey;
}

body .add-location .mx-datepicker {
  width: 100% !important;
}

body .add-location .mx-datepicker input {
  background-color: white !important;
}

body .content-sidebar .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

body .content-sidebar .sub-menu a {
  color: grey;
  font-weight: 700;
  font-size: 14px;
}

body .content-sidebar .sub-menu .separator {
  color: #f5f5f5;
  margin-left: 2px;
  margin-right: 2px;
}

body .content-sidebar h5 {
  margin-bottom: 10px;
}

body .content-sidebar .view-all {
  text-align: center;
  width: 100%;
}

body .content-sidebar .view-all a {
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: normal;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #e3e3e3;
}

body .content-sidebar .view-all .show-indicator {
  width: 50%;
  padding: 8px;
  color: #f39c12;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 30px;
  border: 2px solid #f39c12;
}

body .content-sidebar .view-all .show-indicator:hover {
  color: white;
  text-decoration: none;
  background-color: #f39c12;
}

body .content-sidebar .single-entry .entry-images {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

body .content-sidebar .single-entry h3 {
  margin-bottom: 0;
}

body .content-sidebar .single-entry .date {
  font-size: 12px;
  float: right;
  margin-top: 5px;
  color: grey;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

body .content-sidebar .single-entry p {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  white-space: pre-line;
}

body .content-sidebar .single-entry .location-images {
  margin-bottom: 0;
}

body .content-sidebar .location-images,
body .content-sidebar .entry-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body .content-sidebar .location-images h5,
body .content-sidebar .entry-images h5 {
  display: inline-block;
  width: 100%;
}

body .content-sidebar .location-images .images,
body .content-sidebar .entry-images .images {
  width: 100%;
}

body .content-sidebar .location-images .image-holder,
body .content-sidebar .entry-images .image-holder {
  display: inline-block;
  background: #f9f9f9;
  margin: 10px 2% 0 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  position: relative;
  height: 100px;
  width: calc(100% * (1/4) - 10px - 1px);
}

body .content-sidebar .location-images .delete,
body .content-sidebar .entry-images .delete {
  right: 0;
  /* left: 98px; */
  width: 20px;
  height: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d9534f;
}

body .content-sidebar .location-images .image,
body .content-sidebar .entry-images .image {
  cursor: pointer;
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body .content-sidebar .location-images {
  margin-bottom: 20px;
}

body .map {
  padding-left: 0;
}

body .blueimp-gallery a {
  color: white !important;
}

