.circle-separator {
  width: 8px;
  height: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: inline-block;
  &.black {
    background-color: black;
  }
  &.grey {
    background-color: lighten(grey, 25%);
  }
}

.btn.button-primary {
  color: white;
  font-size: 18px;
  border-radius: 2px;
  border-color: $trip-primary;
  background-color: $trip-primary;
  &:hover {
    color: white;
    cursor: pointer;
    background-color: darken($trip-primary, 5%);
  }
}

.mx-datepicker-popup {
 color: black;
  .mx-calendar-table {
    td.current {
      background-color: $trip-primary;
    }
    .today {
      color: $trip-primary;
    }
  }
}

nav.main {
  .navbar-nav {
    .nav-link {
      &:hover {
        color: $trip-primary;
      }
    }
  }

}

body {
  background-color: #F6F6F6 !important;
}

.content-block {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px #dcdcdc;
  padding: 5% 10% !important;
  border: 0 solid rgba(255,255,255,.25);
}

input, .btn {
  border-radius: 2px !important;
}

nav {
  box-shadow: 0 1px 5px #dcdcdc;
  &.margin-bottom {
    margin-bottom: 30px;
  }
}

.errors {
  padding-left: 17px;
}

.heading {
  margin-bottom: 20px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 20px;
}

#logout {
  border: none;
  cursor: pointer;
  background: none;
  color: $trip-primary;
}

.file-upload-row {
  background-color: #f9f9f9 !important;
  display: flex !important;
  min-height: auto !important;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  .dz-image {
    margin-left: 5px;
    margin-right: 5px;
    width: auto !important;
    i {
      color: $trip-primary;
      font-size: 24px;
    }
  }
  img {
    width: 100%;
  }
  .actions {
    i {
      font-size: 24px;
    }
    i.remove {
      color: #d9534f;
    }
    i.view {
      color: $trip-primary;
    }
  }

}