@import "variables";
@import "trip/index";
@import "trip/single";
@import "trip/create";
@import "_shared.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body,
#app {
  height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif !important;

  h1, h2, h3, h4, h5, h6, label {
    font-family: 'Montserrat', sans-serif !important;
  }

  a.instruction,
  span.instruction {
    color: $trip-primary !important;
  }

  .navbar {
    background-color: white !important;
    border-bottom: 1px solid #F6F6F6;
    .content {
      width: 100%;
      display: flex;
      h3 {
        margin: 0;
        display: flex;
        margin-right: 20px;
        align-items: center;
        padding-right: 20px;
        border-right: 1px solid #F6F6F6;
      }
    }
  }

  .location-add {
    display: flex;
    flex: 1;
    width: 100%;
    ::-webkit-input-placeholder {
      color: #e3e3e3;
    }
    :-moz-placeholder {
      color: #e3e3e3;
    }
    ::-moz-placeholder {
      color: #e3e3e3;
    }
    :-ms-input-placeholder {
      color: #e3e3e3;
    }
    input {
      border: none;
    }
    .location {
      width: 400px;
    }
    .datepicker {
      width: 110px;
    }
    .add-to-trip {
      display: flex;
      align-items: flex-end;
      span {
        border: none;
        color: grey;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .location,
    .datepicker {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .mx-calendar-month > a.current,
    .mx-calendar-table td.current,
    .mx-calendar-year > a.current {
      background-color: #f5f5f5;
    }
    .mx-datepicker {
      font-family: 'Montserrat', sans-serif !important;
      width: auto !important;
      margin-top: 3px;
      min-width: 1px !important;
      input {
        padding: 0;
        font-size: 16px;
        box-shadow: none;
        height: auto !important;
      }
      .mx-input-icon {
        display: none;
      }
    }
  }

  a {
    color: grey;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
  .container-fluid {
    .no-padding-right {
      padding-right: 0;
    }
    .no-padding-left {
      padding-left: 0;
    }

  }
  .left-side {
    .sidebar {
      .row {
        p {
          padding: 0;
        }
        .content {
          padding: 20px;
          height: 100vh;
          overflow: scroll;
          padding-bottom: 100px;
          background-color: white;
        }
        .divider {
          background-color: #F6F6F6;
        }
        .off-canvas-content {
          padding: 5px;
        }
      }
    }
  }

  .content-location {
    .location-name {
      margin-bottom: 0;
      a {
        font-size: 16px;
        font-family: 'Lato', sans-serif !important;
      }
      .edit-location-name {
        display: flex;
        align-items: center;
        input {
          display: flex;
          flex: 7;
          margin-right: 10px;
        }
        a {
          font-size: 16px;
          display: flex;
          flex: 2;
        }
      }
    }
    .date {
      color: grey;
    }
  }

  .notice {
    color: gray;
    &.instruction {
      color: $trip-primary !important;
    }
  }

  .edit-trip-name {
    display: flex;
    align-items: center;
    input {
      margin-right: 10px;
    }
  }

  .add-entry {
    padding-right: 0;
    .markers {
      display: flex;
      .marker {
        display: flex;
        align-items: baseline;
        margin-right: 10px;
        .remove {
          i {
            cursor: pointer;
            color: #e74c3c;
            margin-left: -5px;
          }
        }
      }
    }
    .header {
      display: flex;
      h3 {
        flex: 1;
      }
    }
    .save-entry {
      text-align: right;
    }
    .vue-dropzone.form-control {
      border: 1px solid #ced4da;
      background: none;
      font-family: 'Montserrat', sans-serif !important;
      padding: 0;
      &.is-invalid {
        border-color: #dc3545;
      }
    }
  }

  .locations {
    .location {
      margin-bottom: 20px;
      &.location-draggable {
        cursor: move;
      }
      .col {
        padding: 0;
        display: flex;
        align-items: center;
        .arrow {
          float: right;
          flex: 1;
          right: -20px;
          position: relative;
          .arrow-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid white;
          }
        }
      }
      h5 {
        margin-bottom: 0;
        &:hover {
          cursor: pointer;
        }
      }
      span {
        font-size: 14px;
        color: grey;
      }
    }
  }

  .add-location {
    .mx-datepicker {
      width: 100% !important;
      input {
        background-color: white !important;
      }
    }
  }

  .content-sidebar {

    .sub-menu {
      display: flex;
      margin-bottom: 10px;
      a {
        color: grey;
        font-weight: 700;
        font-size: 14px;
      }
      .separator {
        color: #f5f5f5;
        margin-left: 2px;
        margin-right: 2px;
      }
    }

    h5 {
      margin-bottom: 10px;
    }

    .view-all {
      a {
        color: $trip-primary;
        font-weight: normal;
        font-size: initial;
      }
    }

    .single-entry {
      .entry-images {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h3 {
        margin-bottom: 0;
      }
      .date {
        font-size: 12px;
        float: right;
        margin-top: 5px;
        color: grey;
        width: 100%;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        white-space: pre-line;
      }
      .location-images {
        margin-bottom: 0;
      }
    }

    .location-images,
    .entry-images {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      h5 {
        display: inline-block;
        width: 100%;
      }

      .images {
        width: 100%;
      }

      .image-holder {
        display: inline-block;
        background: #f9f9f9;
        margin: 0px 2% 0 2%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        position: relative;
        margin-top: 5px;
        width: calc(100% * (1 / 3) - 17px - 1px);
      }

      .option-dropdown {
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        color: white;
        display: flex;
        font-size: 12px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: grey;
        .dropdown-menu {
          min-width: 300px;
        }
      }

      .caption {
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        color: white;
        display: flex;
        font-size: 12px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: $trip-primary;
      }

      .popover-caption {
        height: 1px;
      }

      .image {
        cursor: pointer;
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

      }
    }

    .location-images {
      margin-bottom: 20px;
    }

  }

  .map {
    padding-left: 0;
    padding-right: 0;
  }

  .blueimp-gallery {
    a {
      color: white !important;
    }
  }
}